include README.rst LICENSE tox.ini .coveragerc runtests.py

recursive-include requirements *

recursive-include require_license *
prune require_license/tests/static
prune require_license/tests/media

recursive-include doc *
prune doc/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
